@page
@model Website.Pages.MenuPageModel
@{
    ViewData["Title"] = "MenuPage";
}
    <StackPanel orientation="Horizontal">
        <div name="searchBox">
            <form method="post">
                <h4>Search</h4>
                <input type="text" id="search" name="search" value="@Model.search" />
                <input type="submit" value="Search and Filter" />

                <h4>Filter By Menu Category</h4>
                <div id="menu-category">
                    <label>
                        <input type="checkbox" value="Combo" name="selectedCategories" checked="@Model.selectedCategories.Contains("Combo")" />
                        Combos
                    </label>
                    <label>
                        <input type="checkbox" value="Entree" name="selectedCategories" checked="@Model.selectedCategories.Contains("Entree")" />
                        Entrees
                    </label>
                    <label>
                        <input type="checkbox" value="Side" name="selectedCategories" checked="@Model.selectedCategories.Contains("Side")" />
                        Sides
                    </label>
                    <label>
                        <input type="checkbox" value="Drink" name="selectedCategories" checked="@Model.selectedCategories.Contains("Drink")" />
                        Drinks
                    </label>
                </div>
                
                <h4>Filter by Price</h4>
                <label>
                    Minimum Price:
                    <input type="number" min="0" max="10" step="0.1" name="minPrice" value="@Model.minPrice" />
                </label>
                <label>
                    Maxiumum Price:
                    <input type="number" min="0" max="10" step="0.1" name="maxPrice" value="@Model.maxPrice" />
                </label>

                <div id="Ingredients">
                    @foreach(string ingredient in Model.Menu.PossibleIngredients)
                    {
                        <label>
                            <input type="checkbox" value="@(ingredient)" name="selectedIngredients" checked ="@(Model.selectedIngredients.Contains(ingredient))"/>
                            @(ingredient)
                        </label>
                    }
                </div>
               
            </form>
        </div>
        <div class="results">
            <h1><b>Menu</b></h1>
            <hr />
            @if (Model.search is null)
            {
                @(Model.search = "");
            }
            
            <h1><u>Menu Categories</u></h1>
            <h2>Cretaceous Combos</h2>
            <div id="combos" name="combos">
                @if (Model.selectedCategories.Count == 0 || Model.selectedCategories.Contains("Combo"))
                {
                    @foreach (DinoDiner.Menu.CretaceousCombo combo in Model.AvailableCombos)
                    {
                        @if (combo.Description.Contains(Model.search, StringComparison.OrdinalIgnoreCase))
                        {
                            @if ((combo.Price >= Model.minPrice && combo.Price <= Model.maxPrice) && !Model.ContainsSelectedIngredientsOrNone(combo))
                            {
                                
                                <div class="menu-items" name="ComboItems">
                                    <h3>@combo.Description:</h3>
                                    <p>
                                        Price: $@combo.Price
                                        <br />
                                        Calories: @combo.Calories
                                        <br />
                                        Ingredients:
                                        @for (int i = 0; i < combo.Ingredients.Count; i++)
                                        {
                                            @(combo.Ingredients[i])
                                            if (i != combo.Ingredients.Count - 1)
                                            {
                                                @(", ")
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        }


                    }
                }

            </div>

            <h2>Entrees</h2>
            <div id="Entrees" name="entrees">
                @if (Model.selectedCategories.Count == 0 || Model.selectedCategories.Contains("Entree"))
                {

                    @foreach (DinoDiner.Menu.Entrees.Entree entree in Model.AvailableEntrees)
                    {
                        @if (entree.Description.Contains(Model.search, StringComparison.OrdinalIgnoreCase))
                        {
                            @if (entree.Price >= Model.minPrice && entree.Price <= Model.maxPrice && !Model.ContainsSelectedIngredientsOrNone(entree))
                            {
                                <div class="menu-items" name="EntreeItems">
                                    <h3>@entree.Description:</h3>
                                    <p>
                                        Price: $@entree.Price
                                        <br />
                                        Calories: @entree.Calories
                                        <br />
                                        Ingredients:
                                        @for (int i = 0; i < entree.Ingredients.Count; i++)
                                        {
                                            @(entree.Ingredients[i])
                                            if (i != entree.Ingredients.Count - 1)
                                            {
                                                @(", ")
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        }


                    }
                }

            </div>


            <h2>Sides</h2>
            <div id="Sides" name="sides">
                @if (Model.selectedCategories.Count == 0 || Model.selectedCategories.Contains("Side"))
                {

                    @foreach (DinoDiner.Menu.Sides.Side side in Model.AvailableSides)
                    {
                        @if (side.Description.Contains(Model.search, StringComparison.OrdinalIgnoreCase))
                        {
                            @if (side.Price >= Model.minPrice && side.Price <= Model.maxPrice && !Model.ContainsSelectedIngredientsOrNone(side))
                            {
                                <div class="menu-items" name="SideItems">
                                    <h3>@side.Description:</h3>
                                    <p>
                                        Price: $@side.Price
                                        <br />
                                        Calories: @side.Calories
                                        <br />
                                        Ingredients:
                                        @for (int i = 0; i < side.Ingredients.Count; i++)
                                        {
                                            @(side.Ingredients[i])
                                            if (i != side.Ingredients.Count - 1)
                                            {
                                                @(", ")
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        }


                    }
                }


            </div>
            <h2>Drinks</h2>
            <div id="Drinks" name="drinks">
                @if (Model.selectedCategories.Count == 0 || Model.selectedCategories.Contains("Drink"))
                {

                    @foreach (DinoDiner.Menu.Drinks.Drink drink in Model.AvailableDrinks)
                    {

                        @if (drink.Description.Contains(Model.search, StringComparison.OrdinalIgnoreCase))
                        {
                            @if (drink.Price >= Model.minPrice && drink.Price <= Model.maxPrice && !Model.ContainsSelectedIngredientsOrNone(drink))
                            {
                                <div class="menu-items" name="DrinkItems">
                                    <h3>@drink.Description:</h3>
                                    <p>
                                        Price: $@drink.Price
                                        <br />
                                        Calories: @drink.Calories
                                        <br />
                                        Ingredients:
                                        @for (int i = 0; i < drink.Ingredients.Count; i++)
                                        {
                                            @(drink.Ingredients[i])
                                            if (i != drink.Ingredients.Count - 1)
                                            {
                                                @(", ")
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        }


                    }
                }

            </div>
        </div>


    </StackPanel>
    